<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body style="overflow-x: hidden;">
    <header>
        
        <nav>
            <img class="logo" src="Pink and Black Modern Initials Logo Design.png" width="60" height="40">
            <a class="active" href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#qualification">Qualification</a>
            <a href="#skills">Skills</a>
            <a href="#contact">Contact</a>
          
            
            
    
         </nav>
        </header>
        <section id="home">
           <div class="homediv"> <h1>Hello,<br>I'm Aishwarya</h1>
        <p class="p1">
            This is my personal Portfolio
        </p><br>
        <p>
            <div class="d-block d-sm-flex align-items-center"><a class="btn content-download button-main button-scheme" style=" background-color: #a50d9b;
            color: white;
            padding: .5rem 2rem;
            font-size: 1rem;
            text-decoration: none;
            border-radius:10px;;" href="RESUME-1.pdf" download="" role="button">Download CV</a>
        </p>
    
    </div>  

        



        <div class="fin">
            <img src="fin.png">
        </div>
            
        </section>
        <section id="about">
            <div class="aboutdiv"><h1 style="text-align: center; color: #a50d9b;font-weight:bolder; margin-top: 3cm;margin-left: -7cm;">So, who am I?</h1><br>
                <p style="line-height: 0.75cm;font-size: medium; text-align:left;"> I am a web developer with good knowledge of front-end techniques.
                Web developer with a proven ability to adapt in both self-starting and collaborative environments. <br>
                
                </p><br>

                <p>
                    
                    <span>
                        <ul style="list-style-type: none; display: inline-block;font-size: medium;line-height: 1cm;">
                           <li><b>Name:</b> Aishwarya   </li>
                           <li><b>Degree:</b> B.Tech   </li>
                           <li><b>Phone:</b> 9346872863   </li>
                        </ul>
                     
                        <ul style="list-style-type: none; display: inline-block;font-size: medium;line-height: 1cm;">
                           <li><b>  Birthday:</b> 18 Feb 2002</li>
                           <li><b>  E-mail:</b> nomulaaishwarya02@gmail.com</li>
                           <li><b>  Address:</b> Hastinapuram, Hyderabad</li>
                        </ul>
                    <span>
                        
        <div class="icons">
            <a href="https://instagram.com/aishuangel_02?igshid=ZDdkNTZiNTM="><img src="instagram.png" style="height: 1cm;width: 1cm;"></a>
            <a href="https://wa.me/qr/5Y5H55KRC7QWF1"><img src="whatsapp.png"style="height: 1cm;width: 1cm;"></a>
            <a href="https://www.linkedin.com/in/nomula-aishwarya-6a0930231"><img src="linkedin.png"style="height: 1cm;width: 1cm;"></a>
        </div>
                        <img src="WhatsApp Image 2023-03-06 at 7.15.02 PM.jpeg" style="border-radius: 5%; height: 10cm; width: 7cm; margin-left: -10cm;filter: drop-shadow(10px 10px 10px rgb(196, 104, 178));
                    margin-top: -10cm;
                    display: flex;">
                </p>
        </div>
            
                    
                    
    
        </section>
        <section id="qualification">

<h1 style="margin-top: -5cm;margin-left: 4cm;color: #000000;font-size: x-large;">Education</h1>          
<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2019-2023
      </div>
      <div class="item-title">Vignan Institute of Technology and Science</div>
      <div class="item-detail">B.Tech</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2017-2019
      </div>
      <div class="item-title">Sri Gayatri Educational Institutions</div>
      <div class="item-detail">Intermediate</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        2016-2017
      </div>
      <div class="item-title">Dilsukhnagar Public School</div>
      <div class="item-detail">Schooling</div>
    </li>

  </ul>

</div>

<h1 style="margin-top: -5cm;margin-left: 4cm;color: #000000;font-size: x-large;">Projects</h1>      
<div class="history-tl-container">
    <ul class="tl">
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          Project-1
        </div>
        <div class="item-title">Virtual Mouse Using Hand Gestures</div>
        
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
         Project-2
        </div>
        <div class="item-title">Virtual Paint Using Open CV</div>
        
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          Project-3
        </div>
        <div class="item-title">Weather App</div>
        
      </li>
  
    </ul>
  
  </div>




        </section>
        <section id="skills">
            <div class="skills_section">
                <div class="skills_head">
                    <h2 style="font-size: xx-large;">My Skills</h2><br>
                    <p>These are my skills to represent my Expertise</p>
                </div>
        
                <div class="skills_main">
                    <div class="skill_bar">
                        <div class="info">
                            <p>HTML</p>
                            <P>90%</P>
                        </div>
                        <div class="bar">
                            <span class="html"></span>
                        </div>
                    </div>
                    <div class="skill_bar">
                        <div class="info">
                            <p>CSS</p>
                            <P>85%</P>
                        </div>
                        <div class="bar">
                            <span class="css"></span>
                        </div>
                    </div>
                    <div class="skill_bar">
                        <div class="info">
                            <p>C</p>
                            <P>80%</P>
                        </div>
                        <div class="bar">
                            <span class="C"></span>
                        </div>
                    </div>
                    <div class="skill_bar">
                        <div class="info">
                            <p>Java Script</p>
                            <P>70%</P>
                        </div>
                        <div class="bar">
                            <span class="js"></span>
                        </div>
                    </div>
                    <div class="skill_bar">
                        <div class="info">
                            <p>CPP</p>
                            <P>70%</P>
                        </div>
                        <div class="bar">
                            <span class="CPP"></span>
                        </div>
                    </div>
                    <div class="skill_bar">
                        <div class="info">
                            <p>Java</p>
                            <P>50%</P>
                        </div>
                        <div class="bar">
                            <span class="Java"></span>
                        </div>
                    </div>
                    <div class="skill_bar">
                        <div class="info">
                            <p>Python</p>
                            <P>75%</P>
                        </div>
                        <div class="bar">
                            <span class="Python"></span>
                        </div>
                    </div>
                    <div class="skill_bar">
                        <div class="info">
                            <p>React js</p>
                            <P>60%</P>
                        </div>
                        <div class="bar">
                            <span class="Reactjs"></span>
                        </div>
                    </div>
                </div>
            </div>
        
        </section>
        <section id="contact">
            <div class="container">
                 <form onsubmit="sendEmail(); reset();return false">
                    <h3>Contact Me</h3>
                    <input type="text" id="name" placeholder="Your Name" required>
                    <input type="email" id="email" placeholder="Email id" required>
                    <input type="text" id="phone" placeholder="Phone number" required>
                    <textarea id="message" rows="4"placeholder="How can we help you"></textarea>
                    <button type="submit">Send</button>
                </form>

            </div>
        </section>
        
        <script>
            let section=document.querySelectorAll('section');
            let navLinks=document.querySelectorAll('header nav a');
            
            window.onscroll=()=>{
                section.forEach(sec=>{
                     let top=window.scrollY;
                     let offset=sec.offsetTop;
                     let height=sec.offsetHeight;
                     let id=sec.getAttribute('id');
                     if(top>=offset && top < offset+height){
                        navLinks.forEach(links=>{
                            links.classList.remove('active');
                            document.querySelector('header nav a[href*=' + id + ']').classList.add
                            ('active');

                        });
                     };
                });
            };

        </script>
    
</body>
</html>